<div class="mb-8">
  <%= link_to blogs_path, class: "inline-flex items-center group text-primary-600 hover:text-primary-800 transition-colors duration-200" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 group-hover:-translate-x-1 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
    <span class="text-lg font-medium">Volver a Blogs</span>
  <% end %>
</div>