<%# app/views/blogs/_blog_body.html.erb %>
<%# Ahora solo contiene la descripción. Los ingredientes y pasos se movieron a sus propios parciales. %>

<div class="prose prose-lg max-w-none text-gray-700">
  <%= simple_format(blog.description, {}, wrapper_tag: "div") %>
</div>