<div class="relative h-72 md:h-96 w-full overflow-hidden">
  <img src="https://source.unsplash.com/random/1200x600/?food,<%= blog.title.parameterize %>" 
       alt="<%= blog.title %>" 
       class="w-full h-full object-cover transition-transform duration-500 hover:scale-105" 
       loading="lazy" />
  <div class="absolute inset-0 bg-gradient-to-t from-black/20 to-transparent"></div>
</div>