<% @information.each do |info| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= info.title %></h5>
        <p class="card-text"><%= info.description.truncate(100) %></p>
      </div>
    </div>
  <% end %>
