<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* ... puedes añadir estilos CSS aquí ... */
    </style>
  </head>
  <body>
    <h1>¡Bienvenido a ElRanchoDeMauricio, <%= @subscriber.email %>!</h1>
    <p>
      Gracias por suscribirte a nuestro newsletter.
    </p>
    <p>
      A partir de ahora, recibirás en tu correo nuestras mejores recetas, consejos y todas las novedades de nuestra comunidad.
    </p>
    <p>¡A cocinar!</p>
  </body>
</html>