<h2>Detalles de la solicitud</h2>
<% if @request.pending? %>
    <p><strong>Estado:</strong> Pendiente</p>
<% elsif @request.accepted? %>
    <p><strong>Estado:</strong> Aceptada</p>
<% else %>
    <p><strong>Estado:</strong> Rechazada</p>
<% end %>

<p><strong>Solictado por:</strong> <%= @request.user.username %></p>

<!-- Botones de aceptar o rechazar solicitud -->
<% if @request.pending? %>
  <div class="mt-3">
    <%= link_to "Volver", root_path, class: "btn btn-secondary mt-3" %>

    <%= button_to "Aceptar", polymorphic_path([@request.requestable, @request], state: "accepted"), method: :patch, class: "btn btn-success" %>
    
    <%= button_to "Rechazar", polymorphic_path([@request.requestable, @request], state: "rejected"), method: :patch, class: "btn btn-danger", data: { turbo_confirm: "¿Seguro que quieres rechazar esta solicitud?" } %>
  </div>
<% else %>
    <% if @request.accepted? %>
        <p>Esta solicitud ya ha sido <strong>aceptada</strong>.</p>
    <% else %>
        <p>Esta solicitud ya ha sido <strong>rechazada</strong>.</p>
    <% end %>
<% end %>